<%- include('partials/header') -%>
<br>
<main class="container">
    <h1>Welcome to Y + J</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora adipisci repellendus deleniti culpa laudantium pariatur, quasi atque ipsam? Numquam nesciunt perferendis sunt qui ab illo dolorem cum adipisci explicabo earum?</p>
    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
</main>
    

<%- include('partials/footer') -%>